@import '../../../styles/customMediaQueries.css';

.root {
  composes: marketplaceModalFormRootStyles from global;

  justify-content: flex-start;
  height: auto;
  @media (--viewportMedium) {
    justify-content: space-between;
  }
}

.defaultUserFields {
}

.name {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 16px;

  @media (--viewportMedium) {
    margin-top: 0;
  }
}

.row,
.customFields {
  margin-top: 24px;

  @media (--viewportMedium) {
    margin-top: 32px;
  }
}

.firstNameRoot {
  width: calc(50% - 6px);
}

.lastNameRoot {
  width: calc(50% - 6px);
}

.password {
  margin-top: 16px;
  margin-bottom: 16px;
}

.bottomWrapper {
 align-self: stretch;
 margin-top: 12px;
}

.captchaPlaceholder {
  border: 1px solid #d5d5d5;
  border-radius: 8px;
  min-height: 56px;
  display: flex;
  align-items: center;
  padding: 0 14px;
  margin-bottom: 14px;
  background-color: #fafafa;
  color: var(--colorGrey700);
}
.submitButton{
  border-radius: 100px;
  background-color: #09090B;
  color: #FFFFFF;
  font-family: Geist;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0%;
  min-height: 40px;
}
.error {
  composes: textXSmall from global;
  color: var(--colorFail);
  font-weight: var(--fontWeightBold);
  text-align: left;
  padding: 6px 0;

  @media (--viewportMedium) {
    padding: 8px 0;
  }
}
