:global(#landing_banner) {
    min-height: 80vh;

    & header {
        max-width: calc(1260px + 32px * 2);
        width: 100%;
        margin: 0 auto;
        justify-content: flex-start;
        & p{
            text-align: left;
            font-family: Geist;
            font-weight: 400;
            font-style: Regular;
            font-size: 20px;
            leading-trim: NONE;
            line-height: 28px;
            letter-spacing: 0.32px;
            vertical-align: middle;
            width: 100%;            
            color: #fff;
            max-width: 100%;
            margin: 24px 0 0;
            padding: 0;
        }
    }

    &>div {
        &:nth-child(2) {
            background: #00000026;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            & h1 {
                font-family: Inter;
                font-weight: bold;
                font-style: Bold;
                font-size: 48px;
                leading-trim: NONE;
                line-height: 60px;
                text-indent: 0;
                letter-spacing: -2px;
                text-align: left;
                max-width: 460px;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: flex-start;
                &:after{
                    content: '';
                    display: block;
                    width: 280px;
                    height: 13px;
                   background-image: url("data:image/svg+xml,%3Csvg width='280' height='14' viewBox='0 0 280 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M93.1208 1.47495C62.2981 1.07403 30.7048 2.82258 0.870784 8.97495C0.338495 9.08429 0.164335 8.92575 0.120784 8.97495C-0.134069 9.26653 0.0885239 10.2198 0.120784 10.475C0.14014 10.6299 0.156227 11.1575 0.870784 11.225C1.36436 11.2705 4.76909 10.557 6.12078 10.475C12.4841 10.0904 19.2736 9.60914 25.6208 8.97495C40.0119 7.54256 53.9571 6.35301 68.3708 5.22495C76.4632 4.59076 85.03 4.15503 93.1208 3.72495C112.585 3.98191 131.818 4.93984 150.871 5.97495C143.298 6.50162 136.39 7.1287 130.621 7.47495C120.891 8.05811 111.081 8.8174 101.371 9.72495C96.3818 10.1897 91.3501 10.629 86.3708 11.225C85.8191 11.2924 84.7289 11.1429 84.1208 11.225C83.8627 11.2578 83.4547 11.1885 83.3708 11.225C82.8449 11.4546 82.6272 12.488 82.6208 12.725C82.6176 12.8689 83.2336 13.3219 84.1208 13.475H109.621L91.6208 12.725C95.0323 12.3514 97.9545 11.5439 101.371 11.225C111.063 10.3192 120.907 10.3081 130.621 9.72495C140.396 9.13997 153.539 7.44479 167.371 6.72495C179.241 7.47213 191.499 8.26422 203.371 8.97495C208.379 9.27382 213.364 9.42061 218.371 9.72495C220.429 9.84887 225.853 10.6681 226.621 10.475C227.218 10.3237 227.335 9.96733 227.371 9.72495C227.408 9.46253 226.892 9.28658 226.621 8.97495C226.537 8.87654 226.387 8.39261 225.871 8.22495C211.91 3.70726 188.78 4.13334 167.371 5.22495C162.766 4.93337 158.477 4.72462 153.871 4.47495C143.325 3.9009 132.344 2.67872 121.621 2.22495C151.84 1.38119 182.129 1.61445 212.371 2.22495C225.068 2.48191 259.641 4.60634 273.121 5.97495C272.956 6.1663 273.109 6.43519 273.121 6.72495C273.143 7.27896 273.379 7.50046 273.871 7.47495C276.652 7.32916 278.484 6.9163 279.121 6.72495C279.518 6.6065 279.771 6.84887 279.871 6.72495C280.116 6.42608 279.919 5.52929 279.871 5.22495C279.84 5.03542 280.045 5.4163 279.871 5.22495C279.755 5.09374 278.855 4.61163 278.371 4.47495C273.072 2.98606 228.239 1.03111 213.121 0.724951C173.168 -0.0805434 133.026 -0.64995 93.1208 1.47495ZM215.371 8.22495C207.564 7.02764 197.918 5.94762 188.371 5.97495C193.234 6.29387 198.504 7.18337 203.371 7.47495C207.34 7.71368 211.4 7.99898 215.371 8.22495ZM56.3708 4.47495C46.1283 5.32783 35.8601 5.70442 25.6208 6.72495C24.4385 6.84158 23.0531 7.36196 21.8708 7.47495C33.194 5.9077 44.8766 5.05082 56.3708 4.47495Z' fill='white'/%3E%3C/svg%3E%0A");
                    margin:  0 0;
                }
            }

            &>div {
                padding: 0;
                max-width: calc(1260px + 32px * 2);
                padding: 0 32px;
                width: 100%;
                margin: 0 auto;
                & ul {
                    display: flex;
                    gap: 10px;
                    list-style: none;
                    padding: 0;
                    margin: 32px 0 0;

                    & li {
                        padding: 0;

                        &:nth-child(1) {
                            & a {
                                background-color: #09090B;
                                padding: 6px 16px;
                                color: #FFFFFF;
                                border-radius: 100px;
                                font-size: 16px;
                                font-weight: 500;
                                line-height: 27px;
                                letter-spacing: 0%;
                                text-decoration: none;
                                font-family: Geist;
                                height: 40px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                gap: 6px;

                                &::after {
                                    content: '';
                                    display: block;
                                    width: 20px;
                                    height: 20px;
                                    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.0011 11L12.0011 17C11.8844 17.121 12.1661 17 12.0011 17C11.836 17 11.1178 17.121 11.0011 17C10.8844 16.8791 11.0011 16.1711 11.0011 16C10.8844 16.121 11.0011 15.829 11.0011 16L16.0011 11H4.00106C3.8361 11 3.11771 11.1209 3.00106 11C2.88442 10.8792 3.00106 10.171 3.00106 10C2.88442 10.1209 3.00106 9.82909 3.00106 10C3.11771 9.87916 3.8361 10 4.00106 10H16.0011L11.0011 5.00005C10.8844 4.87909 11.0011 5.1711 11.0011 5.00005C11.0011 4.82899 10.8844 4.121 11.0011 4.00005C11.1178 3.87909 11.836 4.00005 12.0011 4.00005C11.8844 3.87909 12.1661 4.00005 12.0011 4.00005L18.0011 10C17.9698 9.92179 18.0589 10.0599 18.0011 10C18.0011 9.91534 18.0324 10.0783 18.0011 10C18.0011 10.0848 18.0324 10.9218 18.0011 11C18.0589 10.9402 17.9698 11.0783 18.0011 11Z' fill='white'/%3E%3C/svg%3E%0A");

                                }
                            }
                        }

                        &:nth-child(2) {
                            & a {
                                background-color: #FFFFFF;
                                padding: 6px 16px;
                                color: #09090B;
                                border-radius: 100px;
                                font-size: 16px;
                                font-weight: 500;
                                line-height: 27px;
                                letter-spacing: 0%;
                                text-decoration: none;
                                font-family: Geist;
                                height: 40px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                gap: 6px;

                                &::after {
                                    content: '';
                                    display: block;
                                    width: 20px;
                                    height: 20px;
                                    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.0011 11L12.0011 17C11.8844 17.121 12.1661 17 12.0011 17C11.836 17 11.1178 17.121 11.0011 17C10.8844 16.8791 11.0011 16.1711 11.0011 16C10.8844 16.121 11.0011 15.829 11.0011 16L16.0011 11H4.00106C3.8361 11 3.11771 11.1209 3.00106 11C2.88442 10.8792 3.00106 10.171 3.00106 10C2.88442 10.1209 3.00106 9.82909 3.00106 10C3.11771 9.87916 3.8361 10 4.00106 10H16.0011L11.0011 5.00005C10.8844 4.87909 11.0011 5.1711 11.0011 5.00005C11.0011 4.82899 10.8844 4.121 11.0011 4.00005C11.1178 3.87909 11.836 4.00005 12.0011 4.00005C11.8844 3.87909 12.1661 4.00005 12.0011 4.00005L18.0011 10C17.9698 9.92179 18.0589 10.0599 18.0011 10C18.0011 9.91534 18.0324 10.0783 18.0011 10C18.0011 10.0848 18.0324 10.9218 18.0011 11C18.0589 10.9402 17.9698 11.0783 18.0011 11Z' fill='%2309090B'/%3E%3C/svg%3E%0A");

                                }
                            }
                        }
                    }
                }
            }
        }
    }
}